# --- SÉCURITÉ GOOGLE (NE JAMAIS COMMIT) ---
credentials.json
tokens/

# --- DOSSIERS DE COMPILATION MAVEN ---
target/

# --- CONFIGURATIONS ECLIPSE LOCALES ---
.settings/
.project
.classpath
.DS_Store
/bin/
